

<br style="clear:both">
       <h2 style="margin-bottom: 15px; text-align: center;">Send Us Your Address</h3>
       <h3 style="margin-bottom: 25px; text-align: center;">and we'll tell you where you are</h4>

<div class="row col-md-offset-4 col-md-2">
	<%= render "coordinateform" %>
</div>